# Plugins that Manage themselves
Panels.sketchplugin
Runner.sketchplugin
NudgePushShove.sketchplugin
Semaphore Pasteboard.sketchplugin
Auto-Layout/*
chromatic-sketch/*
LaunchpadPlugin.sketchplugin
.DS_Store
